
      <div id="app" style="width: 100%; float: left; background-color: #FFF;">
         <section id="bg-property-detais" class="bg-paginas grid-12">
            <div class="breadcrumb">
               <div class="grid-12">
                  <div class="container">
                     <div class="col-xs-12">
                        <ol>
                           <li><a href="index.html">Página Inicial</a></li>
                           <li><a href="p-apartamento-.html">Apartamento</a></li>
                           <li><a href="p-apartamento-camaragibe-.html">Camaragibe</a></li>
                           <li><a href="p-apartamento-camaragibe-bairro-nazare-.html">Nazaré</a></li>
                           <li class="active">Detalhes do Imóvel</li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
            <div class="grid-12">
               <div class="container">
                  <section class="col-md-8 col-sm-12 col-xs-12 pull-left">
                     <div class="bg-header">
                        <h1><b>Apartamento com 2 dorms, Nazaré, Camaragibe - R$ 116.000,00, 46m² - Codigo: BS027</b></h1>
                        <p>Nazaré, Camaragibe, PE - Código BS027</p>
                     </div>
                  </section>
                  <aside class="col-md-4 hidden-sm hidden-xs pull-right">
                     <div class="info-valores">
                        <ul class="valores">
                           <li class="first-item"> <span>Venda</span><b>R$ 116.000,00</b>  </li>
                           <li><span>IPTU</span><b>R$ 100,00</b></li>
                           <li><span>Condomínio</span><b>R$ 160,00</b></li>
                           <li><span class="big-item">Disponível para FGTS</span></li>
                           <li><span class="big-item">Carta de Crédito</span></li>
                           <li><span class="big-item">Aceita Financiamento Bancário</span></li>
                           <li><span class="big-item">Disponível para Minha Casa Minha Vida</span></li>
                        </ul>
                        <ul class="info">
                           <li> <i class="fa fa-home" aria-hidden="true"></i><br> <span>Código</span><br> <b>BS027</b> </li>
                           <li><i class="fa fa-bed"></i><br><span>Dorm.</span><br><b>2</b></li>
                           <li><i class="fa fa-bed"></i><br><span>Suítes**</span><br><b>---</b></li>
                           <li><i class="fa fa-car"></i><br><span>Vagas</span><br><b>1</b></li>
                           <li><i class="fa fa-tint"></i><br><span>Banheiros</span><br><b>1</b></li>
                           <li><i class="fa fa-arrows-alt"></i><br><span>Área m²</span><br><b>46</b></li>
                        </ul>
                     </div>
                     <p class="grid-12"><b><i><small>* Valores sujeitos a alteração sem aviso prévio, assim como a disponibilidade do imóvel. ** Qtd. de suítes já inclusa no número de dormitórios.</small></i></b></p>
                     <div class="grid-12">
                        <div id="formContainer">
                           <div class="form-more-info">
                              <b>Eu quero mais informações</b>  
                              <form action="https://www.imobileonline.com.br/mais-informacoes.html" id="FrmMaisInfoProperty-BS027" class="form clearfix side-form">
                                 <input type="text" name="NomeContato" placeholder="Nome" class="form-control" required>
                                 <input type="email" name="EmailContato" placeholder="E-mail" class="form-control" required>
                                 <input type="text" name="FoneContato" placeholder="Telefone" class="form-control telephoneMask" required>
                                 <div class="grid-12">
                                    <span>Receba contato por:</span>
                                    <div class="radio-inline">
                                       <label>
                                       <input type="checkbox" name="ContatoWhatsapp" value="true">
                                       <i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp
                                       </label>
                                    </div>
                                    <div class="radio-inline">
                                       <label>
                                       <input type="checkbox" name="ContatoPhone" value="true">
                                       <i class="fa fa-phone" aria-hidden="true"></i> Telefone
                                       </label>
                                    </div>
                                    <div class="radio-inline">
                                       <label>
                                       <input type="checkbox" name="ContatoMail" value="true">
                                       <i class="fa fa-envelope" aria-hidden="true"></i> E-mail
                                       </label>
                                    </div>
                                 </div>
                                 <textarea name="TxtMsgMaisInfo" class="form-control" cols="36" rows="3">Olá, gostaria de saber mais informações sobre o imóvel: Apartamento, Venda em Camaragibe no bairro Nazaré valor: R$ 116.000,00 Ref. BS027. Aguardo o contato. Obrigado</textarea>
                                 <input type="hidden" name="CodigoImovel" value="BS027"> <input type="hidden" name="pagina" value="detalhesImovel"> <input type="hidden" name="linkPagina" value="1-apartamento-em-camaragibe-bairro-nazare.html"> <input type="hidden" name="tipo" value="imovel"> <input type="hidden" name="infoEmp" value="">
                                 <input type="hidden" id="_nome_" name="_nome_" value="">
                                 <input type="text" id="_email_" name="_email_" class="hidden" value="">
                                 <div class="row">
                                    <div class="col-xs-12" style="margin-bottom:15px;margin-left: 13px">
                                       <div class="g-recaptcha" data-sitekey="6Lfj_2QUAAAAAPXrQkxwbWn4JAqgm-CeUQSEY7ex"></div>
                                       <noscript>
                                          <div>
                                             <div style="width: 302px; height: 422px; position: relative;">
                                                <div style="width: 302px; height: 422px; position: absolute;">
                                                   <iframe src="https://www.google.com/recaptcha/api/fallback?k=6Lfj_2QUAAAAAPXrQkxwbWn4JAqgm-CeUQSEY7ex"
                                                      frameborder="0" scrolling="no"
                                                      style="width: 302px; height:422px; border-style: none;">
                                                   </iframe>
                                                </div>
                                             </div>
                                             <div style="width: 300px; height: 60px; border-style: none;
                                                bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px;
                                                background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
                                                <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                                   class="g-recaptcha-response"
                                                   style="width: 250px; height: 40px; border: 1px solid #c1c1c1;
                                                   margin: 10px 25px; padding: 0px; resize: none;" >
                                                </textarea>
                                             </div>
                                          </div>
                                       </noscript>
                                    </div>
                                 </div>
                                 <input type="submit" class="background-theme-color hover-background-theme-color btn-track" value="Eu quero mais informações">
                              </form>
                           </div>
                        </div>
                     </div>
                  </aside>
                  <section class="col-md-8 col-sm-12 col-xs-12">
                     <section class="financing-options">
                        <b>Você pode financiar esse imóvel, escolha o banco de sua preferência</b> 
                        <ul>
                           <li><a class="itau" target="_blank" href="https://www.itau.com.br/creditos-financiamentos/imoveis/simulador/">Itaú</a></li>
                           <li><a class="santander" target="_blank" href="https://www.webcasas.com.br/webcasas/?headerandfooter&amp;utm_source=portal-credito-e-financiamento&amp;utm_medium=box&amp;utm_campaign=credito-imobiliario#/dados-pessoais">Santander</a></li>
                           <li><a class="caixa" target="_blank" href="http://www8.caixa.gov.br/siopiinternet/simulaOperacaoInternet.do?method=inicializarCasoUso">Caixa</a></li>
                           <li><a class="bb" target="_blank" href="https://www42.bb.com.br/portalbb/imobiliario/creditoimobiliario/simular,802,2250,2250.bbx?_ga=1.204718099.2023715913.1469109788">Banco do Brasil</a></li>
                           <li><a class="bradesco" target="_blank" href="https://banco.bradesco/html/classic/produtos-servicos/emprestimo-e-financiamento/encontre-seu-credito/simuladores-imoveis.shtm">Bradesco</a></li>
                        </ul>
                     </section>
                     <section class="grid-12">
                        <div class="owl-carousel property-fotos">
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/F0R9prMwJea8VOCOJX5Hb5zR-conj-residencial-regiao-metropolitana-001.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 001"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/F0R9prMwJea8VOCOJX5Hb5zR-conj-residencial-regiao-metropolitana-001.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/F0R9prMwJea8VOCOJX5Hb5zR-conj-residencial-regiao-metropolitana-001.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/F0R9prMwJea8VOCOJX5Hb5zR-conj-residencial-regiao-metropolitana-001.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/F0R9prMwJea8VOCOJX5Hb5zR-conj-residencial-regiao-metropolitana-001.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/07s19KuykTmxry6e7M9l23Mh-conj-residencial-regiao-metropolitana-006.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 006"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/07s19KuykTmxry6e7M9l23Mh-conj-residencial-regiao-metropolitana-006.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/07s19KuykTmxry6e7M9l23Mh-conj-residencial-regiao-metropolitana-006.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/07s19KuykTmxry6e7M9l23Mh-conj-residencial-regiao-metropolitana-006.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/07s19KuykTmxry6e7M9l23Mh-conj-residencial-regiao-metropolitana-006.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/pXgCj1SY13fdENaNJJ65xzbn-conj-residencial-regiao-metropolitana-008.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 008"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/pXgCj1SY13fdENaNJJ65xzbn-conj-residencial-regiao-metropolitana-008.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/pXgCj1SY13fdENaNJJ65xzbn-conj-residencial-regiao-metropolitana-008.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/pXgCj1SY13fdENaNJJ65xzbn-conj-residencial-regiao-metropolitana-008.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/pXgCj1SY13fdENaNJJ65xzbn-conj-residencial-regiao-metropolitana-008.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/ACMdFmV7VtUiA3q4vJSQ9Rc1-conj-residencial-regiao-metropolitana-003.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 003"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/ACMdFmV7VtUiA3q4vJSQ9Rc1-conj-residencial-regiao-metropolitana-003.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/ACMdFmV7VtUiA3q4vJSQ9Rc1-conj-residencial-regiao-metropolitana-003.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/ACMdFmV7VtUiA3q4vJSQ9Rc1-conj-residencial-regiao-metropolitana-003.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/ACMdFmV7VtUiA3q4vJSQ9Rc1-conj-residencial-regiao-metropolitana-003.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/kdxXVZhJQkQ7IDsBoZ1IeM75-conj-residencial-regiao-metropolitana-005.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 005"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/kdxXVZhJQkQ7IDsBoZ1IeM75-conj-residencial-regiao-metropolitana-005.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/kdxXVZhJQkQ7IDsBoZ1IeM75-conj-residencial-regiao-metropolitana-005.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/kdxXVZhJQkQ7IDsBoZ1IeM75-conj-residencial-regiao-metropolitana-005.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/kdxXVZhJQkQ7IDsBoZ1IeM75-conj-residencial-regiao-metropolitana-005.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/k4E51QEkFeZ9oQ134jBHCYzj-conj-residencial-regiao-metropolitana-031.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 031"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/k4E51QEkFeZ9oQ134jBHCYzj-conj-residencial-regiao-metropolitana-031.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/k4E51QEkFeZ9oQ134jBHCYzj-conj-residencial-regiao-metropolitana-031.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/k4E51QEkFeZ9oQ134jBHCYzj-conj-residencial-regiao-metropolitana-031.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/k4E51QEkFeZ9oQ134jBHCYzj-conj-residencial-regiao-metropolitana-031.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/AvHxTxQlPwsV2hJlFAgPuiiC-conj-residencial-regiao-metropolitana-011.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 011"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/AvHxTxQlPwsV2hJlFAgPuiiC-conj-residencial-regiao-metropolitana-011.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/AvHxTxQlPwsV2hJlFAgPuiiC-conj-residencial-regiao-metropolitana-011.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/AvHxTxQlPwsV2hJlFAgPuiiC-conj-residencial-regiao-metropolitana-011.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/AvHxTxQlPwsV2hJlFAgPuiiC-conj-residencial-regiao-metropolitana-011.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/ONoaHF8aJlDvPJd3y5NX8Go9-conj-residencial-regiao-metropolitana-038.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 038"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/ONoaHF8aJlDvPJd3y5NX8Go9-conj-residencial-regiao-metropolitana-038.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/ONoaHF8aJlDvPJd3y5NX8Go9-conj-residencial-regiao-metropolitana-038.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/ONoaHF8aJlDvPJd3y5NX8Go9-conj-residencial-regiao-metropolitana-038.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/ONoaHF8aJlDvPJd3y5NX8Go9-conj-residencial-regiao-metropolitana-038.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/loQ9aBGdqF56AKRbpww1cIhb-conj-residencial-regiao-metropolitana-015.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 015"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/loQ9aBGdqF56AKRbpww1cIhb-conj-residencial-regiao-metropolitana-015.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/loQ9aBGdqF56AKRbpww1cIhb-conj-residencial-regiao-metropolitana-015.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/loQ9aBGdqF56AKRbpww1cIhb-conj-residencial-regiao-metropolitana-015.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/loQ9aBGdqF56AKRbpww1cIhb-conj-residencial-regiao-metropolitana-015.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/D5l90YWi85lY2YUff8vKNjFB-conj-residencial-regiao-metropolitana-017.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 017"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/D5l90YWi85lY2YUff8vKNjFB-conj-residencial-regiao-metropolitana-017.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/D5l90YWi85lY2YUff8vKNjFB-conj-residencial-regiao-metropolitana-017.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/D5l90YWi85lY2YUff8vKNjFB-conj-residencial-regiao-metropolitana-017.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/D5l90YWi85lY2YUff8vKNjFB-conj-residencial-regiao-metropolitana-017.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/csUZnJ9bKHnJPSAFV1L8A2Ke-conj-residencial-regiao-metropolitana-019.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 019"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/csUZnJ9bKHnJPSAFV1L8A2Ke-conj-residencial-regiao-metropolitana-019.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/csUZnJ9bKHnJPSAFV1L8A2Ke-conj-residencial-regiao-metropolitana-019.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/csUZnJ9bKHnJPSAFV1L8A2Ke-conj-residencial-regiao-metropolitana-019.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/csUZnJ9bKHnJPSAFV1L8A2Ke-conj-residencial-regiao-metropolitana-019.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/ngD43YJSZsC4lEPOMk0uzi7r-conj-residencial-regiao-metropolitana-036.jpg" class="image-popup" title="" alt="Conj Residencial Região Metropolitana 036"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/ngD43YJSZsC4lEPOMk0uzi7r-conj-residencial-regiao-metropolitana-036.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/ngD43YJSZsC4lEPOMk0uzi7r-conj-residencial-regiao-metropolitana-036.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/ngD43YJSZsC4lEPOMk0uzi7r-conj-residencial-regiao-metropolitana-036.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/ngD43YJSZsC4lEPOMk0uzi7r-conj-residencial-regiao-metropolitana-036.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                           <div> <a href="../vault.imob.online/u4623/properties/photos/15755481/CbSnjn5SYdh3Uv1xwUxiajNa-115949_terrio.jpg" class="image-popup" title="" alt="115949_terrio"> <img srcset="https://vault.imob.online/resized/u4623/properties/photos/15755481/CbSnjn5SYdh3Uv1xwUxiajNa-115949_terrio.jpg/kxlarge.jpg 1024w, https://vault.imob.online/resized/u4623/properties/photos/15755481/CbSnjn5SYdh3Uv1xwUxiajNa-115949_terrio.jpg/klarge.jpg 768w, https://vault.imob.online/resized/u4623/properties/photos/15755481/CbSnjn5SYdh3Uv1xwUxiajNa-115949_terrio.jpg/medium.jpg 300w" src="../vault.imob.online/resized/u4623/properties/photos/15755481/CbSnjn5SYdh3Uv1xwUxiajNa-115949_terrio.jpg/kxlarge.jpg" class="img-responsive" alt="Apartamento em Camaragibe, bairro Nazaré" /> </a> </div>
                        </div>
                        <div class="grid-12 hidden">
                           <div class="form-more-info">
                              <b>Acesso VIP <br><small>Veja fotos exclusivas deste imóvel</small></b>
                              <form action="https://www.imobileonline.com.br/historic-client" method="post" id="FrmCadastro" class="form">
                                 <input type="text" name="nome" class="form-control" required placeholder="Seu nome">
                                 <input type="email" name="email" class="form-control" required placeholder="Seu email">
                                 <input type="text" name="telefone" class="form-control telephoneMask" required placeholder="Seu telefone">
                                 <input type="hidden" name="codigo" value="BS027">
                                 <input type="hidden" name="entidade" value="imovel">
                                 <input type="hidden" name="client" value="u4623_ssc_1">
                                 <input type="submit" value="Quero ver fotos exclusivas" class="background-theme-color hover-background-theme-color">
                              </form>
                           </div>
                        </div>
                     </section>
                     <div class="grid-12 visible-sm visible-xs">
                        <div class="info-valores">
                           <ul class="valores">
                              <li class="first-item"> <span>Venda</span><b>R$ 116.000,00</b>  </li>
                              <li><span>IPTU</span><b>R$ 100,00</b></li>
                              <li><span>Condomínio</span><b>R$ 160,00</b></li>
                              <li><span class="big-item">Disponível para FGTS</span></li>
                              <li><span class="big-item">Carta de Crédito</span></li>
                              <li><span class="big-item">Aceita Financiamento Bancário</span></li>
                              <li><span class="big-item">Disponível para Minha Casa Minha Vida</span></li>
                           </ul>
                           <ul class="info">
                              <li> <i class="fa fa-home" aria-hidden="true"></i><br> <span>Código</span><br> <b>BS027</b> </li>
                              <li><i class="fa fa-bed"></i><br><span>Dorm.</span><br><b>2</b></li>
                              <li><i class="fa fa-bed"></i><br><span>Suítes**</span><br><b>---</b></li>
                              <li><i class="fa fa-car"></i><br><span>Vagas</span><br><b>1</b></li>
                              <li><i class="fa fa-tint"></i><br><span>Banheiros</span><br><b>1</b></li>
                              <li><i class="fa fa-arrows-alt"></i><br><span>Área m²</span><br><b>46</b></li>
                           </ul>
                        </div>
                        <p class="grid-12"><b><i><small>* Valores sujeitos a alteração sem aviso prévio, assim como a disponibilidade do imóvel. ** Qtd. de suítes já inclusa no número de dormitórios.</small></i></b></p>
                     </div>
                     <section class="redes-sociais">
                        <div class="float-left">
                           <div class="fb-like" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                        <div class="float-left" style="margin: 0 0 0 5px">
                           <div class="g-plusone" data-size="medium" ></div>
                        </div>
                        <div class="float-left" style="margin: 0 0 0 5px"> <a class="twitter-share-button" href="https://twitter.com/share" data-text="Apartamento com 2 dorms, Nazaré, Camaragibe - R$ 116.000,00, 46m² - Codigo: BS027" data-url="/1-apartamento-em-camaragibe-bairro-nazare.html" data-hashtags="ImobileOnline"> Tweet </a> </div>
                        <div class="float-left"> <a href="whatsapp://send?text=https://www.imobileonline.com.br/1-apartamento-em-camaragibe-bairro-nazare.html" class="compartilhar-whatsapp label label-success visible-xs" data-href="/1-apartamento-em-camaragibe-bairro-nazare.html" data-action="share/whatsapp/share"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</a> </div>
                     </section>
                     <section class="web-info grid-12">
                        <h2>  Apartamento   - Padrão em Camaragibe, Nazaré </h2>
                        <p>Apresentação:<br />
                           Localizado em Camaragibe, um dos bairros mais procurados por quem busca um imóvel no Recife, O Região Metropolitana fica perto de tudo, permitindo que as famílias realizem a maior parte de suas atividades diárias à pé. Ao lado da Via BRT, o edifício está situado próximo a colégios, UPA, faculdades, cursos de idiomas e ballet, escolinhas de futebol e natação, academias, supermercados, clínicas e farmácias, a 15 minutos do Shopping de Camaragibe e a 5 minutos do Atacadão Açaí. Com 4 apartamentos por andar e 1 vaga na garagem, o empreendimento possui 2 quartos, piso em cerâmica e Guarita 24 horas.
                        </p>
                     </section>
                     <section class="tabs-caracteristicas grid-12">
                        <div class="header-tabs grid-12">
                           <h3>Detalhes do imóvel - Cód. BS027</h3>
                           <h5 style="width: 100%;float:left;"><i>Situação da escritura: Alienada</i></h5>
                        </div>
                        <div class="tab-content grid-12">
                           <div class="col-md-6" style="border-right: 1px solid #ddd;">
                              <table class="table table-striped table-full-composition">
                                 <tr>
                                    <td><span><i class="fa fa-bed"></i> Dormitório(s)</span> 
                                    <td class="text-right"><b>2</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-bath"></i> sendo Suíte(s)</span> 
                                    <td class="text-right"><b>---</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-television"></i> Sala(s)</span> 
                                    <td class="text-right"><b>2</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-shower"></i> Banheiro(s)</span> 
                                    <td class="text-right"><b>1</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-shower"></i> Lavabo(s)</span> 
                                    <td class="text-right"><b>---</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-cutlery"></i> Cozinha(s)</span> 
                                    <td class="text-right"><b>1</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-bed"></i> Dep. Empregada</span> 
                                    <td class="text-right"><b>---</b></td>
                                 </tr>
                              </table>
                           </div>
                           <div class="col-md-6">
                              <table class="table table-striped table-full-composition">
                                 <tr>
                                    <td><span><i class="fa fa-car"></i> Vaga(s)</span> 
                                    <td class="text-right"><b>1</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-money"></i> Cond.</span> 
                                    <td class="text-right"><b>R$ 160,00</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-money"></i> IPTU</span> 
                                    <td class="text-right"><b>R$ 100,00</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-arrows-alt"></i> Dimensões</span> 
                                    <td class="text-right"><b>---</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-arrows-alt"></i> Área útil</span> 
                                    <td class="text-right"><b>46 m²</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-arrows-alt"></i> Área total constr.</span> 
                                    <td class="text-right"><b>46 m²</b></td>
                                 </tr>
                                 <tr>
                                    <td><span><i class="fa fa-arrows-alt"></i> Área total:</span> 
                                    <td class="text-right"><b>--- m²</b></td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                     </section>
                     <section class="tabs-proximidade grid-12">
                        <div class="header-tabs grid-12">
                           <h3>Proximidades</h3>
                        </div>
                        <div class="tab-content grid-12">
                           <ul>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Shopping</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Parque e Praça</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Escola</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Clínica de Saúde</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Farmácia</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Igreja</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Posto de Combustível</li>
                           </ul>
                        </div>
                     </section>
                     <section class="tabs-caracteristicas grid-12">
                        <div class="header-tabs grid-12">
                           <h3>Características Gerais</h3>
                        </div>
                        <div class="tab-content grid-12">
                           <ul>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Jardim</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Salão de Jogos</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Segurança 24 horas</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Salão de Festas</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Praça de Convivencia</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Portaria</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Guarita</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Garagem Escriturada</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Bicicletário</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>Área de Serviço</li>
                              <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i>220v</li>
                           </ul>
                        </div>
                     </section>
                     <div class="header-tabs grid-12" style="margin-bottom: 0;">
                        <h3>Cômodos</h3>
                     </div>
                     <section class="tabs-rooms grid-12">
                        <div class="header-tabs grid-12" style="background-color: transparent; margin-top: 0;">
                           <ul class="nav nav-tabs" role="tablist">
                              <li><a href="#rooms-0" role="tab" data-toggle="tab">Sala</a></li>
                              <li><a href="#rooms-1" role="tab" data-toggle="tab">Dormitório</a></li>
                              <li><a href="#rooms-2" role="tab" data-toggle="tab">Cozinha</a></li>
                              <li><a href="#rooms-3" role="tab" data-toggle="tab">Banheiro</a></li>
                           </ul>
                        </div>
                        <div class="tab-content grid-12">
                           <div class="tab-pane fade grid-12" id="rooms-0">
                              <ul>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> Piso Frio</li>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> Parede com Massa Corrida</li>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> 2 Ambientes</li>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> Parede com Massa Corrida</li>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> Pintura Latex</li>
                              </ul>
                           </div>
                           <div class="tab-pane fade grid-12" id="rooms-1">
                              <ul>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> Pintura Latex</li>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> Piso Frio</li>
                              </ul>
                           </div>
                           <div class="tab-pane fade grid-12" id="rooms-2">
                              <ul>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> Azulejo até o teto</li>
                              </ul>
                           </div>
                           <div class="tab-pane fade grid-12" id="rooms-3">
                              <ul>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> Azulejo até o teto</li>
                                 <li><i class="fa fa-check-circle font-theme-color" aria-hidden="true"></i> Box Simples</li>
                              </ul>
                           </div>
                        </div>
                     </section>
                     <section class="section grid-12" style="margin: 0 0 45px 0;">
                        <h3>Localização</h3>
                        <p><span>Distância relativa: </span> <b>0 </b><br><br></p>
                        <div class="map grid-12">
                           <div class="scroll-map none"></div>
                           <img src="../Images/mapa.jpg" alt="Mapa de localição" onclick="hide(this);"> <iframe src="https://www.google.com.br/maps?q=Nazar%c3%a9,%20Camaragibe%20-%20PE&amp;output=embed" width="100%" height="300px" frameborder="0" style="border:0"></iframe>  
                        </div>
                     </section>
                     <section class="broker-info grid-12">
                        <div class="row">
                           <article class="grid-12">
                              <figure class="col-md-3 col-sm-4 col-xs-12"> <img src="../vault.imob.online/u4623/users/photos/18691722/JPUJKC3jarx87mwrRptqyWUo-logo-i-imobile-oficial.jpg" class="img-responsive" alt="Foto corretor" /> </figure>
                              <div class="col-md-9 col-sm-8 col-xs-12">
                                 <h3>Imobile Online</h3>
                                 <p>Creci 12074 PF</p>
                                 <hr>
                                 <ul>
                                    <li class="col-sm-6 col-xs-12 no-padding-horizontal"> Telefone: <b>(81) 98807-7025</b> </li>
                                    <li class="col-sm-6 col-xs-12 no-padding-horizontal"> Email: <b><a href="mailto:#">contato@imobileonline.com.br</a></b> </li>
                                 </ul>
                                 <a class="btn background-theme-color hover-theme-color" target="_blank" href="p-corretor-18691722.html">Ver mais imóveis deste corretor(a)</a> 
                              </div>
                           </article>
                        </div>
                     </section>
                  </section>
               </div>
            </div>
            <section class="content-form-footer grid-12">
               <div class="container">
                  <div class="col-md-8 col-xs-12 no-padding-horizontal">
                     <div class="form-more-info form-footer">
                        <div class="col-xs-12">
                           <h4>Eu quero mais informações</h4>
                        </div>
                        <form action="https://www.imobileonline.com.br/mais-informacoes.html" id="FrmMaisInfoPropertyFooter-BS027" class="form clearfix form-custom">
                           <div class="col-md-7 col-xs-12">
                              <input type="text" name="NomeContato" placeholder="Nome" class="form-control" required>
                           </div>
                           <div class="col-md-5 col-xs-12">
                              <input type="text" name="FoneContato" placeholder="Telefone" class="form-control telephoneMask" required>
                           </div>
                           <div class="col-md-12 col-xs-12">
                              <input type="email" name="EmailContato" placeholder="E-mail" class="form-control emailContato" required>
                           </div>
                           <div class="col-xs-12">
                              <span>Entrar em contato por:</span>
                              <div class="radio-inline">
                                 <label>
                                 <input type="checkbox" name="ContatoWhatsapp" value="true">
                                 <i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp
                                 </label>
                              </div>
                              <div class="radio-inline">
                                 <label>
                                 <input type="checkbox" name="ContatoPhone" value="true">
                                 <i class="fa fa-phone" aria-hidden="true"></i> Telefone
                                 </label>
                              </div>
                              <div class="radio-inline">
                                 <label>
                                 <input type="checkbox" name="ContatoMail" value="true">
                                 <i class="fa fa-envelope" aria-hidden="true"></i> E-mail
                                 </label>
                              </div>
                           </div>
                           <div class="col-xs-12">
                              <textarea name="TxtMsgMaisInfo" class="form-control" cols="36" rows="7">Olá, gostaria de saber mais informações sobre o imóvel: Apartamento, Venda em Camaragibe no bairro Nazaré valor: R$ 116.000,00 Ref. BS027. Aguardo o contato. Obrigado</textarea> 
                           </div>
                           <input type="hidden" name="CodigoImovel" value="BS027"> <input type="hidden" name="pagina" value="detalhesImovel"> <input type="hidden" name="linkPagina" value="1-apartamento-em-camaragibe-bairro-nazare.html"> <input type="hidden" name="tipo" value="imovel"> <input type="hidden" name="infoEmp" value="">
                           <input type="hidden" id="_nome_" name="_nome_" value="">
                           <input type="text" id="_email_" name="_email_" class="hidden" value="">
                           <div class="row">
                              <div class="col-xs-12" style="margin-bottom:15px;margin-left: 15px">
                                 <div class="g-recaptcha" data-sitekey="6Lfj_2QUAAAAAPXrQkxwbWn4JAqgm-CeUQSEY7ex"></div>
                              </div>
                           </div>
                           <div class="col-xs-12">
                              <input type="submit" class="background-theme-color hover-background-theme-color btn-track" value="Eu quero mais informações">
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="col-md-4 col-xs-12">
                     <div class="details-register-property">
                        <span>Anuncie seu Imóvel</span> <b>Aqui</b> <i class="fa fa-bullhorn" aria-hidden="true"></i> 
                        <p>Receba muito mais contatos para negociar seus imóveis</p>
                        <a href="cadastre-seu-imovel.html" class="font-theme-color border-theme-color">Anunciar Aqui</a> 
                     </div>
                  </div>
               </div>
            </section>
         </section>
      </div>