<!DOCTYPE html>
<html lang="pt-BR">
   <!-- Mirrored from www.imobileonline.com.br/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Oct 2018 20:03:18 GMT -->
   <!-- Added by HTTrack -->
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <!-- /Added by HTTrack -->
   <head>
      <link rel="preload" as="image" href="#">
      <link rel="preload" as="style" href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic,900,900italic'>
      <link rel="preload" as="style" href='../css/font-awesome.min.css'>
      <link rel="preload" as="style" href='../css/bootstrap.min.css'>
      <link rel="preload" as="style" href='../css/styles.css'>
      <link rel="preload" as="style" href='../css/bootstrap-select.min.css'>
      <link rel="preload" as="script" href='../js/bootstrap.min.js'>
      <link href="../css/select2.min.css" rel="stylesheet" />
      <meta charset="UTF-8"/>
      <title>Portal Imobiliário</title>
      <meta name="Description" content="Ótimos Apartamentos a venda hoje. Acesse o IMOBILE e Confira. O Maior Portal do Brasil. Compre, Venda ou Alugue. + de 61 milhões de buscas." />
      <meta name="Keywords" content="imóveis, condomínio, casa alto padrão, terrenos, apartamentos" />
      <meta name="google-site-verification" content="" />
      <link rel="canonical" href="index.html">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="language" content="pt-br" />
      <meta name="rating" content="General" />
      <meta name="author" content="MarcoTiellet" />
      <meta name="ICBM" content="" />
      <meta name="geo.position" content="" />
      <meta name="geo.placename" content="Rua Teste" />
      <meta name="geo.region" content="" />
      <meta name="twitter:card" content="summary">
      <meta name="DC.Title" content="Imobile Online" />
      <meta name="DC.Description" content="Ótimos Apartamentos a venda hoje. Acesse o IMOBILE e Confira. O Maior Portal do Brasil. Compre, Venda ou Alugue. + de 61 milhões de buscas." />
      <meta name="DC.Creator" content="MarcoTiellet" />
      <meta name="DC.Publisher" content="MarcoTiellet" />
      <meta name="DC.Contributor" content="MarcoTiellet" />
      <meta name="DC.Identifier" content="Index.cshtml" />
      <meta name="DC.Language" content="pt-br" />
      <meta name="DC.Rights" content="© Copyright 2018 - Todos os direitos reservados - Imobile Online" />
      <meta name="format-detection" content="telephone=no">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#44b1bc">
      <meta name="apple-mobile-web-app-status-bar-style" content="#44b1bc">
      <meta name="msapplication-TileColor" content="#44b1bc">
      <meta name="msapplication-TileImage" content="../Images/logo.png">
      <link rel="apple-touch-startup-image" href="../Images/logo.png">
      <meta property="og:title" content="Imobile Online - Portal Imobiliário" />
      <meta property="og:description" content="Ótimos Apartamentos a venda hoje. Acesse o IMOBILE e Confira. O Maior Portal do Brasil. Compre, Venda ou Alugue. + de 61 milhões de buscas." />
      <meta property="og:site_name" content="Imobile Online" />
      <meta property="og:image" content="../vault.imob.online/u4623/user-files/f4/69/4e/0c/92/8b/50/24/iu7d8haxqskaxxaf5vrel78d-imobile-oficial.png" />
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:url" content="index.html" />
      <meta property="og:image:width" content="200" />
      <meta property="og:image:height" content="200" />
      <meta property="og:type" content="website" />
      <script type="application/ld+json">
         {"@@type":"LocalBusiness","@@id":"https:\/\/www.imobileonline.com.br","name":"Imobile Online","image":"https:\/\/Images\/logo.png","telephone":{"0":"(81) 98807-7025","2":"(81) 98807-7025"},"email":"contato@@imobileonline.com.br","address":{"@@type":"PostalAddress","streetAddress":"Rua Tuparetama, n\u00ba 156, Artur Lundgren I, Paulista - PE","addressCountry":"Brasil"},"@@context":"http:\/\/schema.org"}
      </script>
      <script type="text/javascript">
         setTimeout(function(){
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
         
             ga('create', 'UA-71745485-1', 'auto'); ga('send', 'pageview'); }, 500); 
      </script>
      <script type="text/javascript">
         setTimeout(function(){
             
         
         !function(f,b,e,v,n,t,s)
         {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
         n.callMethod.apply(n,arguments):n.queue.push(arguments)};
         if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
         n.queue=[];t=b.createElement(e);t.async=!0;
         t.src=v;s=b.getElementsByTagName(e)[0];
         s.parentNode.insertBefore(t,s)}(window, document,'script',
         '../connect.facebook.net/en_US/fbevents.js');
         fbq('init', '285259765578216');
         fbq('track', 'PageView');
         
         
         }, 5000); 
      </script>        
   </head>
   <body style="top:0!important; background-color: #333!important;">
      <div class="screen mute" id="tv"></div>
      <div id="video-layer"></div>
      <style>
         .screen {
         position: absolute;
         top: 0;
         left: 0;
         margin: 0;
         opacity: 0;
         }
         #video-layer{
         background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
         background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
         background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
         position:absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100vh;
         }
         #bg-top{
         position: relative !important;
         }
         body:before{
         opacity: 0;
         }
      </style>
      <script>
         var tag = document.createElement('script');
         tag.src = 'http://www.youtube.com/player_api';
         var firstScriptTag = document.getElementsByTagName('script')[0];
         firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
         var tv,
             playerDefaults = {autoplay: 0, modestbranding: 0, rel: 0, showinfo: 0, controls: 0, disablekb: 1, enablejsapi: 0, iv_load_policy: 3};
         function onYouTubePlayerAPIReady(){
             tv = new YT.Player('tv', {events: {'onReady': onPlayerReady, 'onStateChange': onPlayerStateChange}, playerVars: playerDefaults});
         }
         
         function onPlayerReady(){
             tv.loadVideoById({'videoId': 'AYugLf72omI', 'suggestedQuality': 'hd720'});
             tv.mute();
         }
         
         function onPlayerStateChange(e) {
             if (e.data === 0){
                 tv.loadVideoById({'videoId': 'AYugLf72omI', 'suggestedQuality': 'hd720'});
             }
         }
         
         function vidRescale(){
         
             var w = $(window).width(),
                 h = $(window).height();
         
             if (w/h > 16/9){
                 tv.setSize(w, w/16*9);
                 $('.screen').css({'left': '0'});
             } else {
                 tv.setSize(h/9*16, h);
                 $('.screen').css({'left': -($('.screen').outerWidth()-w)/2});
             }
             $('.screen').css({'opacity': 1});
         }
         
         setInterval(function(){
             vidRescale();
         }, 1000)
         window.addEventListener('resize', function () {
             vidRescale();
         })
         
      </script>
      <style> * { margin: 0; padding: 0; border: none; outline:0!important; box-sizing: border-box; } ul li, ol li {list-style: none; } img { max-width: 100%; } @@media (min-width: 320px) and (max-width: 991px){ .hidden-mobile { display: none !important; } } .container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@@media (min-width:768px){.container{width:750px}}@@media (min-width:992px){.container{width:970px}}@@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@@media (min-width:768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@@media (min-width:992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@@media (min-width:1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed} </style>
      <style> .font-theme-color{ color: rgb(68, 177, 188) !important; } .background-theme-color{ background-color: rgb(68, 177, 188)!important; color: rgb(0, 0, 0)!important; } .secondary-background-theme-color{ background-color: rgb(0, 0, 0)!important; color: rgb(68, 177, 188)!important; } .background-theme-color a, .background-theme-color p{ color: rgb(0, 0, 0)!important; } .border-theme-color{ border-color: rgb(68, 177, 188)!important; } .hover-font-theme-color:hover{ color: rgba(68, 177, 188, 0.80)!important; } .hover-background-theme-color:hover{ background-color: rgba(68, 177, 188, 0.80)!important; color: rgb(0, 0, 0)!important; -webkit-transition: background 0.3s ease-in-out; -moz-transition: background 0.3s ease-in-out; -ms-transition: background 0.3s ease-in-out; -o-transition: background 0.3s ease-in-out; transition: background 0.3s ease-in-out; } /******************************** Ajustes das cores do tema para plugins **********************************************/ #bg-search .header-tabs .nav-tabs>li.active>a, #bg-search .header-tabs .nav-tabs>li.active>a:hover, #bg-search .header-tabs .nav-tabs>li.active>a:focus{ background-color: rgb(68, 177, 188)!important; color: rgb(0, 0, 0)!important; } .breadcrumb { background-color: rgb(68, 177, 188)!important; } .breadcrumb ol li, .breadcrumb ol li:before, .breadcrumb ol li a{ color: rgb(0, 0, 0)!important; } #bg-banner .banner-destaque .owl-controls .owl-pagination .active span{ background-color: rgb(68, 177, 188)!important; } #bg-partners .partners-slider .owl-controls .owl-pagination .active span{ background-color: rgb(68, 177, 188)!important; } #bg-tesimonials .testimonials-slider .owl-controls .owl-pagination .active span{ background-color: rgb(68, 177, 188)!important; } </style>
      <div id="fb-root"></div>
      <script type="text/javascript">
         setTimeout(function(){
             (function (d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) return;
                 js = d.createElement(s);
                 js.id = id;
                 js.src = '../connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11&appId=361306104059628';
                 fjs.parentNode.insertBefore(js, fjs);
             }(document, "script", 'facebook-jssdk'));
         }, 5000);
      </script>
      <script type="text/javascript">
         setTimeout(function(){
             window.twttr = (function(d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0],
                     t = window.twttr || {};
                 if (d.getElementById(id)) return t;
                 js = d.createElement(s);
                 js.id = id;
                 js.src = "../platform.twitter.com/widgets.js";
                 fjs.parentNode.insertBefore(js, fjs);
         
                 t._e = [];
                 t.ready = function(f) {
                     t._e.push(f);
                 };
         
                 return t;
             }(document, "script", "twitter-wjs"));
         }, 5000);
      </script>
      <style>
         @@media (min-width: 320px) {
         #top{
         height: auto;
         }
         }
         @@media (min-width: 768px) {
         #top{
         height: 100vh;
         }
         }
      </style>
      <div id="top" style="width:100%;float: left;" >
         <style> * {outline:0 !important;} body { margin: 0; width: 100%; float: left; } body:before{ content: ''; background-image: url(""); background-attachment: fixed; width: 100%; position: absolute; z-index: -2; left: 0; top: 0; } body:after{ content: ''; background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 40%, rgba(0,0,0,0) 65%); background: -webkit-linear-gradient(top, rgba(0,0,0,0.45) 40%,rgba(0,0,0,0) 65%); background: linear-gradient(to bottom, rgba(0,0,0,0.45) 40%,rgba(0,0,0,0) 65%); width: 100%; position: absolute; z-index: -1; left: 0; top: 0; } @@media (min-width: 320px){ body:before, body:after{ height: 100%; } } @@media (min-width: 1024px){ body:before, body:after{ height: 100vh; background-size: cover; } } ul li, ol li{ list-style: none; } .goog-te-menu-frame, .goog-te-banner-frame, .skiptranslate{ display: none!important; } #top{ } #bg-top{ width: 100%; float: left; /*position: relative;*/ } #bg-top .menu-site{ width: 100%; min-height: 46px; float: left; background: rgba(0, 0, 0, 0.3); } #bg-top .menu-site .nav-site{ position: relative; } #bg-top .nav-site>a{ width: 46px; height: 46px; float: left; line-height: 46px; text-align: center; font-size: 20px; color: #FFF; will-change: opacity; } #bg-top .nav-site a:hover{ text-decoration: none; opacity: 0.8; } #bg-top .nav-site ul{ margin: 0; float: left; padding: 0; } #bg-top .nav-site ul li{ float: left; position: relative; list-style: none; color: #FFF; text-transform: uppercase; } #bg-top .nav-site ul li span{ float: left; position: relative; color: #999999; } #bg-top .nav-site ul li a{ float: left; color: #FFF; text-decoration: none; will-change: opacity; } #bg-top .nav-site ul li .sub-menu{ } #bg-top .nav-site ul li .sub-menu a{ width: 100%; float: left; } #bg-top .translate{ width: auto; float: left; padding: 0; margin: 0; } #bg-top .translate li{ float: left; list-style: none; padding: 17px 5px 0 5px; } #bg-top .translate li:first-of-type{ padding-left: 0; } #bg-top .translate li:last-of-type{ padding-right: 0; } #bg-top .translate li a{ float: left; text-indent: -9999px; } #bg-top .translate li .flag{ width: 16px; height: 11px; background: url("../Images/flag-translate.png") no-repeat left top; } #bg-top .translate li .flag-pt{ background-position: 0 -11px; } #bg-top .translate li .flag-pt.active{ background-position: 0 0; } #bg-top .translate li .flag-es{ background-position: -16px -11px; } #bg-top .translate li .flag-es.active{ background-position: -16px 0; } #bg-top .translate li .flag-en{ background-position: -32px -11px; } #bg-top .translate li .flag-en.active{ background-position: -32px 0; } #bg-top .register-property a{ width: 100%; float: left; line-height: 46px; color: #FFF; text-align: center; text-transform: uppercase; will-change: opacity; } #bg-top .register-property a:hover, #bg-top .register-property a:focus, #bg-top .register-property a:active{ text-decoration: none; opacity: 0.8; } #bg-top .register-property .sub-menu{ display: none; position: absolute; z-index: 2; top: 46px; left: 15px; background-color: #212121; width: 90%; } #bg-top .register-property .sub-menu a{ line-height: 18px; font-weight: 400; border: 0; text-align: left; padding: 10px 15px; font-size: 13px; } #bg-top .content-top{ width: 100%; float: left; } #bg-top .logo-site a{ height: 135px; float: left; display: grid; align-content: center; padding: 0; margin-top: 20px; } #bg-top .logo-site img{ max-width: 100%; max-height: 135px; } #bg-top .telefone{ float: right; margin-top: 45px; color: #FFF; } #bg-top .telefone > span{ width: 100%; float: left; font-size: 12px; text-transform: uppercase; line-height: 16px; } #bg-top .telefone.whatsapp > span{ color: #4BAE4E; } #bg-top .telefone > span i{ float: left; line-height: 16px; margin: 0 5px 0 0; } #bg-top .telefone b{ width: 100%; float: left; position: relative; } #bg-top .telefone a{ position: absolute; z-index: 2; width: 100%; height: 100%; top: 0; left: 0; text-indent: -9999px; } #bg-top .telefone b i{ font-size: 16px; } #bg-top .telefone ul{ display: none; position: absolute; z-index: 5; top: 60px; right: 0; width: 280px; background-color: #333; padding: 0 10px; margin: 0; max-height: 190px; overflow: auto; } #bg-top .telefone ul li{ width: 100%; float: left; list-style: none; border-top: 1px solid #E4E4E4; padding: 8px 0; } #bg-top .telefone ul li:first-of-type{ border-top: 0; } #bg-top .telefone ul li span{ float: left; font-size: 16px; } #bg-top .telefone ul li .operadora{ float: right; text-transform: uppercase; } @@media (min-width: 320px){ #bg-top .nav-site ul{ width: 250px; position: absolute; z-index: 5; top: 40px; left: 0; padding: 5px 15px; display: none; background-color: #333; } #bg-top .nav-site ul li{ width: 100%; float: left; line-height: 35px; } #bg-top .nav-site ul li a.more-item{ width: 100%; border-top: 1px solid #666; } #bg-top .nav-site ul li .sub-menu{ width: 100%; float: left; padding-left: 20px; } #bg-top .nav-site ul li .sub-menu a { line-height: 35px; font-size: 12px; } #bg-top .register-property a{ font-weight: 600; font-size: 12px; } #bg-top .logo-site a{ width: 100%; text-align: center; } #bg-top .logo-site img{ margin: auto; } } @@media (max-width: 800px) { #more-phones{ width: 100%; } #bg-top .telefone{ width: 140px; } } @@media (min-width: 768px){ #bg-top .nav-site ul{ width: auto; float: left; position: relative; padding: 0; top: 0; left: 0; background-color: transparent; display: block; } #bg-top .nav-site ul li{ width: auto; padding: 0 10px; line-height: 46px; } #bg-top .nav-site ul li span{ margin-right: 10px; } #bg-top .nav-site ul li span:before{ content: ''; position: absolute; z-index: 2; top: 17px; right: -12px; border-right: 1px solid #999; height: 12px; } #bg-top .nav-site ul li:first-of-type{ padding: 0; } #bg-top .nav-site ul li:last-of-type{ padding: 0 0 0 10px; } #bg-top .nav-site ul li a.more-item{ width: auto; border-top: 0; } #bg-top .nav-site ul li .sub-menu{ display: none; width: 250px; position: absolute; z-index: 2; top: 40px; left: -15px; padding: 5px 15px; background: rgba(0, 0, 0, 0.9); } #bg-top .nav-site ul li .sub-menu a{ line-height: 35px; font-size: 13px; } #bg-top .register-property a{ font-weight: 900; font-size: 10px; } #bg-top .logo-site a{ width: auto; text-align: left; } #bg-top .logo-site img{ margin: 0; float: left; } #bg-top .telefone b{ font-size: 18px; } } @@media (min-width: 1024px){ #bg-top .nav-site ul li{ padding: 0 15px; } #bg-top .nav-site ul li:last-of-type{ padding: 0 0 0 15px; } #bg-top .register-property a{ font-weight: 900; font-size: 14px; } #bg-top .telefone{ width: 170px; } #bg-top .telefone b{ font-size: 22px; } } @@media (min-width: 1280px){ #bg-top .telefone{ margin-top: 45px; float: left; min-width: 215px; } .telefone1{ margin-left: 45px; margin-right: 15px; } #bg-top .telefone b{ font-size: 28px; } } #more-phones{ font-size: 12px; float: left; } </style>
         <div id="google_translate_element"></div>
         <header id="bg-top">
            <section class="menu-site">
               <div class="container">
                  <div class="col-sm-7 col-xs-4 pull-left nav-site">
                     <a href="javascript:void(0);" class="visible-xs"><i class="fa fa-bars" aria-hidden="true"></i></a> 
                     <ul>
                        <li><span>Creci: 12074 - F</span></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                        <li>
                           <a href="javascript:void(0);" class="more-item">Contato <i class="fa fa-angle-down" aria-hidden="true"></i></a> 
                           <div class="sub-menu">
                               <a asp-area="" asp-controller="FaleConosco" asp-action="Index">Fale Conosco</a>
                               <a asp-area="" asp-controller="CadastroImovel" asp-action="Index">Cadastre seu Imóvel</a>
                               <a asp-area="" asp-controller="EncomendaImovel" asp-action="Index">Imóvel sob Encomenda</a>
                               <a asp-area="" asp-controller="AgendaLigacao" asp-action="Index">Agende uma Ligação</a>
                               <a asp-area="" asp-controller="TrabalheConosco" asp-action="Index">Trabalhe Conosco</a>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="col-sm-2 hidden-xs">
                     <ul class="translate" style="display: none">
                        <li><a href="javascript:void(0);#portugues" id="PTBR" class="flag flag-pt active btlang btlang-pt notranslate" title="Tradução para o português" rel="Português">Português</a></li>
                        <li><a href="javascript:void(0);#espanhol" id="ES" class="flag flag-es btlang btlang-es notranslate" title="Tradução para o espanhol" rel="Espanhol">Espanhol</a></li>
                        <li><a href="javascript:void(0);#ingles" id="ENG" class="flag flag-en btlang btlang-en notranslate" title="Tradução para o inglês" rel="Inglês">Inglês</a></li>
                     </ul>
                     <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            document.querySelector(".translate").style.display = "block";
                        });
                     </script>
                  </div>
                  <div class="col-sm-3 col-xs-8 register-property pull-right">
                      <a class="background-theme-color hover-background-theme-color" asp-area="" asp-controller="CadastroImovel" asp-action="Index">Anuncie seu imóvel aqui</a>
                  </div>
               </div>
            </section>
            <section class="content-top">
               <div class="container">
                  <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12 logo-site"> <a href="index.html"> <img src="../Images/logo.png" alt="Imobile Online" > </a> </div>
                  <div class="col-md-offset-1 col-sm-offset-2 col-sm-3 hidden-xs telefone whatsapp hidden"> <span><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</span> <b>(81) 98807-7025</b> </div>
                  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                     <style> .box-whatsapp-top{ width: 100%; min-height: 56px; float: left; position: relative; } @@media (min-width: 320px){ .box-whatsapp-top { margin: 10px 0 30px 0; } } @@media (min-width: 768px){ .box-whatsapp-top { margin: 45px 0 0 0; } } .box-whatsapp-top a{ position: absolute; z-index: 3; width: 100%; height: 100%; top: 0; left: 0; text-indent: -9999px; } .box-whatsapp-top p{ width: 50%; height: 50px; padding: 5px 0; top: 4px; margin: 0; position: absolute; border: 3px solid; line-height: 16px; font-size: 12px; font-weight: bold; color: #FFF; } .box-whatsapp-top p img{ width: 10px; margin: 0 2px 0 9px; } .box-whatsapp-top p b{ width: 100%; float: left; font-size: 13px; font-weight: 600; } .box-whatsapp-top p span{ width: 100%; float: left; } @@media (min-width: 320px){ .box-whatsapp-top p b{ text-align: center; } .box-whatsapp-top p span{ padding-left: 0; text-align: center; } } @@media (min-width: 768px){ .box-whatsapp-top p span{ text-align: left; padding-left: 9%; } } @@media (min-width: 1024px){ .box-whatsapp-top p b{ text-align: left; padding-left: 18%; } } @@media (min-width: 1280px){ .box-whatsapp-top p span{ padding-left: 5px; } } .box-whatsapp-top p:first-of-type{ left: 0; background: #067B70; border-color: #056056; -webkit-border-top-left-radius: 30px; -webkit-border-bottom-left-radius: 30px; -moz-border-radius-topleft: 30px; -moz-border-radius-bottomleft: 30px; border-top-left-radius: 30px; border-bottom-left-radius: 30px; } .box-whatsapp-top p:last-of-type{ right: 0; background: #3CBD29; background: -webkit-linear-gradient(#3CBD29, #13990A, #3CBD29); background: -o-linear-gradient(#3CBD29, #13990A, #3CBD29); background: -moz-linear-gradient(#3CBD29, #13990A, #3CBD29); background: linear-gradient(#3CBD29, #13990A, #3CBD29); border-color: #FFF; -webkit-border-top-right-radius: 30px; -webkit-border-bottom-right-radius: 30px; -moz-border-radius-topright: 30px; -moz-border-radius-bottomright: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; box-shadow: 1px 1px 1px #CCC; line-height: 33px; } .box-whatsapp-top > span{ position: absolute; z-index: 2; top: 0; left: 50%; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); width: 56px; height: 56px; border-radius: 50%; background-color: #056056; line-height: 52px; text-align: center; } </style>
                     <div class="box-whatsapp-top">
                        <a class="visible-xs" href="https://api.whatsapp.com/send?phone=5581988077025&amp;text=Ol%c3%a1,%20gostaria%20de%20obter%20algumas%20informa%c3%a7%c3%b5es" title="Envie uma mensagem para o Whatsapp" target="_blank">Link para conversar no whatsapp</a> <a class="hidden-xs" href="https://web.whatsapp.com/send?phone=5581988077025&amp;text=Ol%c3%a1,%20gostaria%20de%20obter%20algumas%20informa%c3%a7%c3%b5es" title="Envie uma mensagem para o Whatsapp" target="_blank">Link para conversar no whatsapp</a> 
                        <p> <b>Whatsapp</b><br> <span>(81) 98807-7025</span> </p>
                        <span><img src="../Images/ico-whatsapp.png" alt="Ícone do Whatsapp"></span> 
                        <p> <b> <img src="../Images/bto-link-whatsapp.png" alt="Link para conversa no Whatsapp"> Conversar </b> </p>
                     </div>
                  </div>
                  <div class="hidden-xs telefone telefone1"> <span><i class="fa fa-phone" aria-hidden="true"></i> Contato</span> <b> (81) 98807-7025  </b> </div>
               </div>
            </section>
         </header>
         <style> #bg-search{ padding: 0; } #btn-scroll-down{ color: #FFF; margin: auto; display: table; padding-top: 2rem; } #bg-search h1{ width: 100%; float: left; margin: 20px 0 0 0; text-shadow: 1px 1px 0 #000; text-align: center; color: #FFF; font-size: 42px; font-weight: 300; } #bg-search .header-tabs{ margin: 2rem 0 0 0; } #bg-search .header-tabs .nav-tabs{ width: auto; margin: 0 auto; display: table; border: 0; } #bg-search .header-tabs .nav-tabs>li{ width: auto; float: left; margin: 0; } #bg-search .header-tabs .nav-tabs>li>a{ width: auto; float: left; background-color: rgba(0, 0, 0, 0.60); text-align: center; font-weight: 400; color: #FFF; border: 0; margin: 0 1px; border-radius: 0; border-top: 1px solid #666; border-left: 1px solid #666; border-right: 1px solid #666; } #bg-search .header-tabs .nav-tabs>li.active>a, #bg-search .header-tabs .nav-tabs>li.active>a:hover, #bg-search .header-tabs .nav-tabs>li.active>a:focus{ background-color: #FFF; border: 0; color: #333333; } #bg-search .header-tabs .nav-tabs li:first-of-type a{ border-radius: 0; -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; border-top-left-radius: 3px; } #bg-search .header-tabs .nav-tabs li:last-of-type a{ border-radius: 0; -webkit-border-top-right-radius: 3px; -moz-border-right-topleft: 3px; border-top-right-radius: 3px; } #bg-search .tab-content{ } #bg-search .tab-content .tab-pane{ position: relative; } #bg-search .tab-content .tab-pane .form-search{ background-color: rgba(0, 0, 0, 0.5); margin: 0 0 45px 0; border-radius: 3px; border: 1px solid #404040; } #bg-search .tab-content .tab-pane .form-search .form-group{ margin-bottom: 25px; } /* #bg-search .tab-content .tab-pane .form-search label{ font-size: 16px; color: #FFF; font-weight: 400; } #bg-search .form-search label{ display: none; } #bg-search .search-reference label{ display: none; } .tooltipster-sidetip .tooltipster-box{ background: #565656; } .tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{ border-top-color: #565656; }*/ #bg-search .form-search .dropdown-toggle{ height: 37px; border-radius: 0; position: relative; } #bg-search .form-search .dropdown-toggle:before{ content: ''; position: absolute; z-index: 2; top: 0; right: 0; width: 37px; height: 35px; line-height: 37px; text-align: center; background-color: #F7F7F7; color: #777777; } #bg-search .form-search .bootstrap-select{ width: 100%; } #bg-search .form-search [data-type="text"]{ width: 100%; line-height: 37px; height: 37px; border-radius: 0; position: relative; background-color: #fff; border: 1px solid #ccc; padding: 6px 12px; font-size: 15px; color: #333; } #bg-search .form-search [data-type="text"]::-webkit-input-placeholder {color: #333;} #bg-search .form-search [data-type="text"]::-moz-placeholder {color: #333;} #bg-search .form-search [data-type="text"]:-ms-input-placeholder {color: #333;} #bg-search .form-search [data-type="text"]:-moz-placeholder {color: #333;} #bg-search .form-search [data-type="text"]:hover{ color: #333; background-color: #e6e6e6; border-color: #adadad; } #bg-search .form-search label{ width: 100%; line-height: 37px; float: left; margin: 0; } #bg-search .form-search input[type="checkbox"], #bg-search .form-search input[type="radio"]{ float: left; margin: 12px 4px 0 0; } #bg-search .form-search .bootstrap-select span, #bg-search .form-search .bootstrap-select a{ font-size: 15px; color: #333; } #bg-search .form-search .caret{ z-index: 3; } #bg-search .dropdown-menu>.active>a, #bg-search .dropdown-menu>.active>a:focus, #bg-search .dropdown-menu>.active>a:hover{ color: #262626; text-decoration: none; background-color: #f5f5f5; } #bg-search .form-search button[type="submit"]{ width: 100%; float: left; line-height: 37px; text-align: center; font-size: 15px; color: #FFF; border: 0; border-radius: 3px; text-transform: uppercase; font-weight: bold; } /* #bg-search .form-search .twitter-typeahead{ width: 100%; float: left; }*/ #bg-search .form-search ::-webkit-input-placeholder {color: #999;} #bg-search .form-search ::-moz-placeholder {color: #999;} #bg-search .form-search :-ms-input-placeholder {color: #999;} #bg-search .form-search :-moz-placeholder {color: #999;} /* #bg-search .form-search .typeahead{ width: 100%; float: left; line-height: 37px; font-size: 15px; color: #333; background: #FFF!important; font-weight: 400; padding: 0 0 0 15px; border: 1px solid #CCC; } #bg-search .form-search .tt-menu{ position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; width: 100%; min-width: 160px; padding: 5px 0; margin: 2px 0 0; font-size: 14px; text-align: left; list-style: none; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,.15); border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175); } #bg-search .form-search .tt-menu h3{ width: 100%; float: left; margin: 5px 0; font-size: 16px; font-weight: 400; padding: 3px 20px; color: #999; } #bg-search .form-search .tt-menu .tt-suggestion{ width: 100%; float: left; font-size: 15px; padding: 3px 20px 3px 30px; color: #333; } #bg-search .form-search .tt-menu .tt-suggestion:hover, #bg-search .form-search .tt-menu .tt-cursor{ cursor: pointer; background-color: #F5F5F5; }*/ #bg-search .tab-content .tab-pane .btn-flip-search{ font-size: 14px; color: #FFF; text-shadow: 1px 1px 0 #000; padding: 15px 20px; background-color: rgba(0, 0, 0, 0.50); border-radius: 3px; margin:auto; display: table; } #bg-search .tab-content .tab-pane .search-reference{ /* display: none; position: absolute; z-index: 4; top: -37px; left: 0;*/ width: 100%; float: left; background-color: #222; border-radius: 3px; padding: 30px 15px; } .modal-backdrop{ z-index: 5!important; } .modal{ background-color: rgba(0, 0, 0, 0.5); } #bg-search .modal .modal-dialog .modal-content{ padding: 0; } #bg-search .tab-content .tab-pane .search-reference b{ width: 100%; float: left; color: #FFF; } #bg-search .tab-content .tab-pane .search-reference input[type="text"]{ width: 100%; height: 37px; float: left; border-radius: 0; } #bg-search .tab-content .tab-pane .search-reference button[type="submit"]{ width: 100%; height: 37px; float: left; border: 0; border-radius: 3px; text-align: center; font-weight: 900; font-size: 15px; color: #FFF; text-transform: uppercase; } #bg-search .tab-content .tab-pane .search-reference a{ width: 100%; float: left; margin: 15px 0 0 0; font-size: 16px; text-shadow: none; text-align: center; color: #333; } .search-reference .btn-flip-search{ color: #FFF !important; } @@media (min-width: 320px) { #bg-search .no-padding-xs{ padding-left: 0; padding-right: 0; } #bg-search .tab-content{ padding-bottom: 50px; } #bg-search .header-tabs .nav-tabs>li>a{ line-height: 50px; padding: 0 7px; font-size: 12px; } #bg-search .tab-content .tab-pane{ min-height: 296px; } #bg-search .tab-content .tab-pane .form-search{ padding: 20px 0 0 0; } /* #bg-search .tab-content .tab-pane .search-reference{ height: 270px; }*/ #bg-search .tab-content .tab-pane .search-reference b{ font-size: 16px; } } @@media (min-width: 768px){ #bg-search .no-padding-xs{ padding-left: 15px; padding-right: 15px; } #bg-search .tab-content{ padding-bottom: 0; } #bg-search .header-tabs .nav-tabs>li>a{ line-height: 36px; padding: 0 20px; font-size: 14px; } #bg-search .tab-content .tab-pane{ min-height: 140px; } #bg-search .tab-content .tab-pane .form-search{ padding: 20px 10px 0 10px; } /* #bg-search .tab-content .tab-pane .search-reference{ height: 100%; }*/ } @@media (min-width: 1024px){ #bg-search .tab-content .tab-pane .search-reference b{ font-size: 18px; } } @@media (min-width: 1280px){ /* #bg-search .tab-content .tab-pane .search-reference b{ font-size: 22px; }*/ } @@media (min-width: 1367px){ #bg-search{ padding: 5rem 0 0 0; position: relative; } #bg-search .header-tabs{ margin: 4rem 0 0 0; } #btn-scroll-down{ color: #FFF; margin: auto; display: table; padding-top: 14rem; } } #btn-scroll-down i{ font-size: 5em; text-shadow: 2px 2px 2px #000; text-align: center; display: block; padding-left: 10px; padding-right: 10px; border-radius: 3px; background: rgba(0,0,0,0.65); } #btn-scroll-down a{ color: #FFF; display: block; } #btn-scroll-down a:hover, #btn-scroll-down a:focus{ text-decoration: none !important; } .select2-selection--single{ -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; } .select2-container .select2-selection--single{ padding: 3px 0 0 0; height: 37px; } .select2-container--default .select2-selection--single .select2-selection__arrow{ width: 37px; height: 35px; line-height: 37px; background-color: #F7F7F7; color: #777777; } .select2-container .select2-selection--single .select2-selection__rendered{ font-size: 15px; } </style>
         <section id="bg-search" class="grid-12 search-site" >
            <div class="container" style="visibility: hidden;">
               <div class="col-xs-12">
                  <h1>  Os melhores imóveis no Grande Recife!  </h1>
               </div>
               <div class="col-xs-12 no-padding-xs">
                  <div class="header-tabs grid-12">
                     <ul id="tab-busca" class="nav nav-tabs" role="tablist">
                        <li><a href="#search-PropertySearch1" role="tab" data-toggle="tab">Buscar Imóveis</a></li>
                        <li><a href="#search-PropertySearch2" role="tab" data-toggle="tab">Busca Rápida</a></li>
                        <li><a href="#search-ReleaseSearch3" role="tab" data-toggle="tab">Buscar Empreendimentos</a></li>
                        <li><a href="#search-CondominiumSearch4" role="tab" data-toggle="tab">Buscar Condomínios</a></li>
                     </ul>
                  </div>
               </div>
               <div class="tab-content grid-12">
                  <div class="tab-pane fade grid-12" id="search-PropertySearch1">
                     <form data-form="PropertySearch" class="form-search  grid-12" action="https://www.imobileonline.com.br/busca/v1">
                        <div class="col-md-10 col-sm-10 col-xs-12 no-padding-horizontal">
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="Finalidade" data-id="Finalidade" data-type="select" title="Imóvel para" required data-label="" name="search[Finalidade]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="1"   data-amount="27">Comprar</option>
                                 <option value="2"   data-amount="4">Alugar</option>
                                 <option value="7"   data-amount="1">Arrendamento</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="Tipo" data-id="Tipo" data-type="select" title="Tipo do Imóvel"  data-label="" name="search[Tipo]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="101"   data-amount="14">Apartamento</option>
                                 <option value="102"   data-amount="3">Casa</option>
                                 <option value="103"   data-amount="1">Cobertura</option>
                                 <option value="104"   data-amount="5">Flat</option>
                                 <option value="106"   data-amount="2">Loft</option>
                                 <option value="115"   data-amount="1">Terreno de Condomínio</option>
                                 <option value="401"   data-amount="2">Chácara</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="Cidade" data-id="Cidade" data-type="select" title="Cidade"  data-label="" name="search[Cidade]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="CAMARAGIBE"  >Camaragibe</option>
                                 <option value="IGARASSU"  >Igarassu</option>
                                 <option value="JABOATAO DOS GUARARAPES"  >Jaboatão Dos Guararapes</option>
                                 <option value="PAULISTA"  >Paulista</option>
                                 <option value="RECIFE"  >Recife</option>
                                 <option value="SAO LOURENCO DA MATA"  >São Lourenço Da Mata</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="Bairro" data-id="Bairro" data-type="select" title="Bairro"  data-label="" name="search[Bairro]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="ALDEIA DOS CAMARAS"  >Aldeia dos Camarás</option>
                                 <option value="BARRA DE JANGADA"  >Barra de Jangada</option>
                                 <option value="BELA VISTA"  >Bela Vista</option>
                                 <option value="BOA VIAGEM"  >Boa Viagem</option>
                                 <option value="CANDEIAS"  >Candeias</option>
                                 <option value="CASA AMARELA"  >Casa Amarela</option>
                                 <option value="CORDEIRO"  >Cordeiro</option>
                                 <option value="JANGA"  >Janga</option>
                                 <option value="MURIBARA"  >Muribara</option>
                                 <option value="NAZARE"  >Nazaré</option>
                                 <option value="NOSSA SENHORA DA CONCEICAO"  >Nossa Senhora da Conceição</option>
                                 <option value="PIEDADE"  >Piedade</option>
                                 <option value="SARAMANDAIA"  >Saramandaia</option>
                                 <option value="TORRE"  >Torre</option>
                              </select>
                           </div>
                           <input data-id="Ordem" data-type="hidden" data-text="7" type="hidden" value="7" name="search[Ordem]" /> 
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12 form-group"> <button type="submit" class="background-theme-color hover-background-theme-color">Buscar</button> </div>
                     </form>
                     <a href="javascript:void(0);" data-toggle="modal" data-target="#modalReference1" class="btn-flip-search">Tenho o código do imóvel </a> 
                     <div class="modal fade" id="modalReference1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="search-reference">
                                 <form action="https://www.imobileonline.com.br/busca-por-codigo" class="reference-search-form grid-12">
                                    <div class="col-xs-12 form-group"> <b> Encontre um imóvel por código </b> </div>
                                    <div class="col-xs-12 form-group"> <input placeholder="Referência do Imóvel" class="form-control" type="text" value="" required name="reference"> </div>
                                    <div class="col-xs-12 form-group"> <button type="submit" class="background-theme-color hover-background-theme-color">Buscar</button> </div>
                                 </form>
                                 <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="btn-flip-search"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar para busca</a> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade grid-12" id="search-PropertySearch2">
                     <form data-form="PropertySearch" class="form-search  grid-12" action="https://www.imobileonline.com.br/busca/v1">
                        <div class="col-md-10 col-sm-10 col-xs-12 no-padding-horizontal">
                           <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                              <select id="Finalidade" data-id="Finalidade" data-type="select" title="Imóvel para" required data-label="" name="search[Finalidade]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="1"   data-amount="27">Comprar</option>
                                 <option value="2"   data-amount="4">Alugar</option>
                                 <option value="7"   data-amount="1">Arrendamento</option>
                              </select>
                           </div>
                           <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                              <select id="Tipo" data-id="Tipo" data-type="select" title="Tipo do Imóvel"  data-label="" name="search[Tipo]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="101"   data-amount="14">Apartamento</option>
                                 <option value="102"   data-amount="3">Casa</option>
                                 <option value="103"   data-amount="1">Cobertura</option>
                                 <option value="104"   data-amount="5">Flat</option>
                                 <option value="106"   data-amount="2">Loft</option>
                                 <option value="115"   data-amount="1">Terreno de Condomínio</option>
                                 <option value="401"   data-amount="2">Chácara</option>
                              </select>
                           </div>
                           <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                              <select id="Localidade" data-id="Localidade" data-type="select" title="Localidade"  data-label="" name="search[Localidade]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="ALDEIA DOS CAMARAS, CAMARAGIBE"  >Aldeia Dos Camarás, Camaragibe</option>
                                 <option value="NAZARE, CAMARAGIBE"  >Nazaré, Camaragibe</option>
                                 <option value="BELA VISTA, IGARASSU"  >Bela Vista, Igarassu</option>
                                 <option value="SARAMANDAIA, IGARASSU"  >Saramandaia, Igarassu</option>
                                 <option value="BARRA DE JANGADA, JABOATAO DOS GUARARAPES"  >Barra De Jangada, Jaboatão Dos Guararapes</option>
                                 <option value="CANDEIAS, JABOATAO DOS GUARARAPES"  >Candeias, Jaboatão Dos Guararapes</option>
                                 <option value="PIEDADE, JABOATAO DOS GUARARAPES"  >Piedade, Jaboatão Dos Guararapes</option>
                                 <option value="JANGA, PAULISTA"  >Janga, Paulista</option>
                                 <option value="NOSSA SENHORA DA CONCEICAO, PAULISTA"  >Nossa Senhora Da Conceição, Paulista</option>
                                 <option value="BOA VIAGEM, RECIFE"  >Boa Viagem, Recife</option>
                                 <option value="CASA AMARELA, RECIFE"  >Casa Amarela, Recife</option>
                                 <option value="CORDEIRO, RECIFE"  >Cordeiro, Recife</option>
                                 <option value="TORRE, RECIFE"  >Torre, Recife</option>
                                 <option value="MURIBARA, SAO LOURENCO DA MATA"  >Muribara, São Lourenço Da Mata</option>
                              </select>
                           </div>
                           <input data-id="Ordem" data-type="hidden" data-text="7" type="hidden" value="7" name="search[Ordem]" /> 
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12 form-group"> <button type="submit" class="background-theme-color hover-background-theme-color">Buscar</button> </div>
                     </form>
                     <a href="javascript:void(0);" data-toggle="modal" data-target="#modalReference2" class="btn-flip-search">Tenho o código do imóvel </a> 
                     <div class="modal fade" id="modalReference2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="search-reference">
                                 <form action="https://www.imobileonline.com.br/busca-por-codigo" class="reference-search-form grid-12">
                                    <div class="col-xs-12 form-group"> <b> Encontre um imóvel por código </b> </div>
                                    <div class="col-xs-12 form-group"> <input placeholder="Referência do Imóvel" class="form-control" type="text" value="" required name="reference"> </div>
                                    <div class="col-xs-12 form-group"> <button type="submit" class="background-theme-color hover-background-theme-color">Buscar</button> </div>
                                 </form>
                                 <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="btn-flip-search"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar para busca</a> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade grid-12" id="search-ReleaseSearch3">
                     <form data-form="ReleaseSearch" class="form-search  grid-12" action="https://www.imobileonline.com.br/busca/v1/empreendimento">
                        <div class="col-md-10 col-sm-10 col-xs-12 no-padding-horizontal">
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="CidadeRelease" data-id="CidadeRelease" data-type="select" title="Cidade"  data-label="" name="search[CidadeRelease]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="JABOATAO DOS GUARARAPES"  >Jaboatão Dos Guararapes</option>
                                 <option value="RECIFE"  >Recife</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="BairroRelease" data-id="BairroRelease" data-type="select" title="Bairro"  data-label="" name="search[BairroRelease]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="CANDEIAS"  >Candeias</option>
                                 <option value="CORDEIRO"  >Cordeiro</option>
                                 <option value="PIEDADE"  >Piedade</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="DormitoriosRelease" data-id="DormitoriosRelease" data-type="select" title="Dormitórios"  data-label="" name="search[DormitoriosRelease]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="2"  >2 Dormitórios</option>
                                 <option value="3"  >3 Dormitórios</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="ValorMaximoRelease" data-id="ValorMaximoRelease" data-type="select" title="Valor Máximo"  data-label="" name="search[ValorMaximoRelease]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="140400"  >R$ 140.400,00</option>
                                 <option value="340400"  >R$ 340.400,00</option>
                                 <option value="540400"  >R$ 540.400,00</option>
                                 <option value="740400"  >R$ 740.400,00</option>
                                 <option value="940400"  >R$ 940.400,00</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group hidden"> <input data-id="CondominioRelease" data-type="hidden" data-text="0"  type="hidden" data-label="" name="search[CondominioRelease]" value="0"> </div>
                           <input data-id="Ordem" data-type="hidden" data-text="12" type="hidden" value="12" name="search[Ordem]" /> 
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12 form-group"> <button type="submit" class="background-theme-color hover-background-theme-color">Buscar</button> </div>
                     </form>
                     <a href="javascript:void(0);" data-toggle="modal" data-target="#modalReference3" class="btn-flip-search">Tenho o código do empreendimento </a> 
                     <div class="modal fade" id="modalReference3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="search-reference">
                                 <form action="https://www.imobileonline.com.br/busca-por-codigo-lancamento" class="reference-search-form grid-12">
                                    <div class="col-xs-12 form-group"> <b> Encontre um empreendimento por código </b> </div>
                                    <div class="col-xs-12 form-group"> <input placeholder="Referência do Imóvel" class="form-control" type="text" value="" required name="reference"> </div>
                                    <div class="col-xs-12 form-group"> <button type="submit" class="background-theme-color hover-background-theme-color">Buscar</button> </div>
                                 </form>
                                 <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="btn-flip-search"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar para busca</a> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade grid-12" id="search-CondominiumSearch4">
                     <form data-form="CondominiumSearch" class="form-search  grid-12" action="https://www.imobileonline.com.br/busca/v1/empreendimento">
                        <div class="col-md-10 col-sm-10 col-xs-12 no-padding-horizontal">
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="CidadeRelease" data-id="CidadeRelease" data-type="select" title="Cidade"  data-label="" name="search[CidadeRelease]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="SAO LOURENCO DA MATA"  >São Lourenço Da Mata</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="BairroRelease" data-id="BairroRelease" data-type="select" title="Bairro"  data-label="" name="search[BairroRelease]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="MURIBARA"  >Muribara</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="DormitoriosRelease" data-id="DormitoriosRelease" data-type="select" title="Dormitórios"  data-label="" name="search[DormitoriosRelease]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="2"  >2 Dormitórios</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                              <select id="ValorMaximoRelease" data-id="ValorMaximoRelease" data-type="select" title="Valor Máximo"  data-label="" name="search[ValorMaximoRelease]" >
                                 <option value="todos">Todo(a)s</option>
                                 <option value="123000"  >R$ 123.000,00</option>
                              </select>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-12 form-group hidden"> <input data-id="CondominioRelease" data-type="hidden" data-text="condominio"  type="hidden" data-label="" name="search[CondominioRelease]" value="condominio"> </div>
                           <input data-id="Ordem" data-type="hidden" data-text="12" type="hidden" value="12" name="search[Ordem]" /> 
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12 form-group"> <button type="submit" class="background-theme-color hover-background-theme-color">Buscar</button> </div>
                     </form>
                     <a href="javascript:void(0);" data-toggle="modal" data-target="#modalReference4" class="btn-flip-search">Tenho o código do condomínio </a> 
                     <div class="modal fade" id="modalReference4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="search-reference">
                                 <form action="https://www.imobileonline.com.br/busca-por-codigo-lancamento" class="reference-search-form grid-12">
                                    <div class="col-xs-12 form-group"> <b> Encontre um condomínio por código </b> </div>
                                    <div class="col-xs-12 form-group"> <input placeholder="Referência do Imóvel" class="form-control" type="text" value="" required name="reference"> </div>
                                    <div class="col-xs-12 form-group"> <button type="submit" class="background-theme-color hover-background-theme-color">Buscar</button> </div>
                                 </form>
                                 <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="btn-flip-search"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar para busca</a> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="text-center" id="btn-scroll-down">
                  <a class="hidden-xs" href="#bg-banner"><i class="fa fa-angle-double-down fa-3 hvr-sink" aria-hidden="true"></i></a>
               </div>
            </div>
         </section>
      </div>
	  
	  
		<partial name="_CookieConsentPartial" />
		
		@RenderBody()
		
		<footer>
			<p>&copy; 2018 - ImobileOnline.Web</p>
		</footer>
	  
	  
	  
      <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css' media="none" onload="if(media!='all')media='all'">
      <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="../css/styles.css" rel="stylesheet" type="text/css">
      <div class="modal fade" id="modalDepoimentos" tabindex="-1" role="dialog" aria-labelledby="modalDepoimentos" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> <b class="modal-title" id="myModalLabel">Deixe seu Depoimento</b> </div>
               <div class="modal-body">
                  <form method="POST" action="https://www.imobileonline.com.br/depoimentos.html" accept-charset="UTF-8" id="FrmDepoimento" name="testimonials-form" onsubmit="return false;">
                     <input name="_token" type="hidden" value="qruws7AuGP2pgHbrPDN9JE6Mr58eZ1ohgLl3Ic0K">                    
                     <div class="grid-12">
                        <label for="author">Nome</label>
                        <input placeholder="Nome" id="author" class="form-control" required="required" name="author" type="text" value="">
                     </div>
                     <div class="grid-12">
                        <label for="occupation">Ocupação</label>
                        <input placeholder="Ocupação" id="occupation" class="form-control" required="required" name="occupation" type="text" value="">
                     </div>
                     <div class="grid-12">
                        <label for="email">E-mail</label>
                        <input placeholder="E-mail" id="email" class="form-control" required="required" name="email" type="email" value="">
                     </div>
                     <div class="grid-12">
                        <label for="url">URL</label>
                        <input placeholder="Site / Blog" id="url" class="form-control" name="url" type="text" value="">
                     </div>
                     <div class="grid-12">
                        <label for="mensagem">Depoimento</label>
                        <textarea id="mensagem" placeholder="Depoimento" class="form-control" rows="3" cols="0" required="required" name="mensagem"></textarea>
                     </div>
                     <input type="hidden" id="_nome_" name="_nome_" value="">
                     <label hidden>
                     E-amil
                     <input type="text" id="_email_" name="_email_" class="hidden" hidden value="">
                     </label>
                     <div class="grid-12">
                        <input class="btn btn-primary background-theme-color btn-track" onclick="validar()" id="enviarDepoimento" type="submit" value="Enviar">
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript">
         function validar(){
         
             if (! document.getElementById("author").checkValidity()) {
                 alert('Preencha o campo nome');
                 return false;
             }
         
             if (! document.getElementById("occupation").checkValidity()) {
                 alert('Preencha o campo ocupação');
                 return false;
             }
         
             if (! document.getElementById("email").checkValidity()) {
                 alert('Preencha o campo email');
                 return false;
             }
         
             if (! document.getElementById("mensagem").checkValidity()) {
                 alert('Preencha o campo depoimento');
                 return false;
             }
         
             var formdata = $('#FrmDepoimento').serialize();
         
             $('#FrmDepoimento #enviarDepoimento').val('Enviando...');
         
             $.ajax({
                 //headers: {'X-CSRF-Token': $('#FrmDepoimento input[name="_token"]').val()},
                 url: $('#FrmDepoimento').prop('action'),
                 type: 'POST',
                 data: formdata,
                 success: function(data){
                     if (data.status == 'success') {
         
                         $('#FrmDepoimento').html('<span>' + data.message + '</span>');
         
                     } else {
         
                         $('#FrmDepoimento #enviarDepoimento').val('Enviar');
         
                     }
         
                 },
                 error: function(){
         
                 }
             });
         
             return false;
         }
         
      </script>
      <section id="bg-footer" class="grid-12" style="background-image: url();">
         <div class="bg-overlay"></div>
         <div class="grid-12">
            <div class="container">
               <div class="col-xs-12 visible-xs">
                  <div class="fb-container" style="width: 100%;float: left;display: grid;align-content: center">
                     <div class="fb-page" data-href="https://www.facebook.com/imobileon/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/imobileon/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/imobileon/">Facebook</a></blockquote>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 col-xs-5">
                  <b class="header-section">
                     Menu 
                     <hr class="background-theme-color">
                  </b>
                  <ul>
                      <li><a asp-area="" asp-controller="CadastroImovel" asp-action="Index">Home</a></li>
                      <li><a asp-area="" asp-controller="CadastroImovel" asp-action="Index">Anuncie Aqui</a></li>
                      <li><a asp-area="" asp-controller="FaleConosco" asp-action="Index">Contato</a></li>
                      <li><a asp-area="" asp-controller="MapaSite" asp-action="Index">Mapa do Site</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#modalDepoimentos">Enviar Depoimento</a></li>
                  </ul>
               </div>
               <div class="col-md-3 col-sm-6 col-xs-7">
                  <b class="header-section">
                     Veja Também 
                     <hr class="background-theme-color">
                  </b>
                  <ul>
                      <li><a asp-area="" asp-controller="Filtro" asp-action="Index">Apartamento</a></li>
                      <li><a asp-area="" asp-controller="Filtro" asp-action="Index">Casa</a></li>
                      <li><a asp-area="" asp-controller="Filtro" asp-action="Index">Cobertura</a></li>
                      <li><a asp-area="" asp-controller="Filtro" asp-action="Index">Apartamento</a></li>
                      <li><a asp-area="" asp-controller="Filtro" asp-action="Index">Futuro Lançamento</a></li>
                      <li><a asp-area="" asp-controller="Filtro" asp-action="Index">Pronto para Morar</a></li>
                      <li><a asp-area="" asp-controller="Filtro" asp-action="Index">Em Construção</a></li>
                  </ul>
               </div>
               <div class="visible-sm col-sm-12 visible-xs col-xs-12"></div>
               <div class="col-md-3 col-sm-6 hidden-xs">
                  <h2 class="header-section">
                     Os mais Acessados 
                     <hr class="background-theme-color">
                  </h2>
                  <ul>
                     <li>
                        <article class="most-view-item">
                           <h3>Igarassu / PE<br>Saramandaia<br>Casa</h3>
                           <p>  <b>R$ 550.000,00 <small>- Venda</small></b>    </p>
                           <a asp-area="" asp-controller="Filtro" asp-action="Index" title="Casa com 4 dorms, Saramandaia, Igarassu - R$ 550.000,00, 280m² - Codigo: BS041">Veja mais detalhes sobre o imóvel</a>
                        </article>
                     </li>
                     <li>
                         <article class="most-view-item">
                             <h3>Camaragibe / PE<br>Nazaré<br>Apartamento</h3>
                             <p>  <b>R$ 116.000,00 <small>- Venda</small></b>    </p>
                             <a asp-area="" asp-controller="Filtro" asp-action="Index" title="Apartamento com 2 dorms, Nazaré, Camaragibe - R$ 116.000,00, 46m² - Codigo: BS027">Veja mais detalhes sobre o imóvel</a>
                         </article>
                     </li>
                     <li>
                         <article class="most-view-item">
                             <h3>Igarassu / PE<br>Bela Vista<br>Chácara</h3>
                             <p>  <b>R$ 650.000,00 <small>- Venda</small></b>   <b>R$ 1.800,00 <small>- Locação</small></b>   </p>
                             <a asp-area="" asp-controller="Filtro" asp-action="Index" title="Chácara com 4 dorms, Bela Vista, Igarassu - R$ 650.000,00, 214m² - Codigo: BS043">Veja mais detalhes sobre o imóvel</a>
                         </article>
                     </li>
                  </ul>
               </div>
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <b class="header-section">
                     Contato 
                     <hr class="background-theme-color">
                  </b>
                  <b>(81) 98807-7025</b>     
                  <article>
                     <p> <a target="_blank" href="https://www.google.com.br/maps/place/Rua Tuparetama, nº 156, Artur Lundgren I, Paulista - PE">Rua Tuparetama, nº 156, Artur Lundgren I, Paulista - PE</a> </p>
                     <p>contato@imobileonline.com.br</p>
                  </article>
                  <ul class="social-networks">
                     <li><a href="https://www.facebook.com/imobileon/" target="_blank" title="Link facebook"><i class="fa fa-facebook"></i><span>Link para o facebook da Imobile Online</span></a></li>
                     <li><a href="https://twitter.com/imobileon" target="_blank" title="Link twitter"><i class="fa fa-twitter"></i><span>Link para o twitter da Imobile Online</span></a></li>
                     <li><a href="https://plus.google.com/+BalcaodeservicoBrRecife" target="_blank" title="Link google-plus"><i class="fa fa-google-plus"></i><span>Link para o google-plus da Imobile Online</span></a></li>
                     <li><a href="https://www.youtube.com/c/BalcaodeservicoBrRecife" target="_blank" title="Link youtube"><i class="fa fa-youtube"></i><span>Link para o youtube da Imobile Online</span></a></li>
                     <li><a href="https://www.instagram.com/imobile.online/?hl=pt-br" target="_blank" title="Link instagram"><i class="fa fa-instagram"></i><span>Link para o instagram da Imobile Online</span></a></li>
                     <li><a href="feed.xml" target="_blank"><i class="fa fa-rss"></i><span>Link para o feeds da Imobile Online</span></a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="grid-12 copyright ">
            <div class="container">
               <div class="col-sm-6 col-xs-12">
                  <p>Imobile Online - Todos os Direitos Reservados</p>
               </div>
               <div class="col-sm-6 col-xs-12"> <a href="https://microsistec.com.br/site-para-imobiliaria/" target="_blank">site para imobiliária desenvolvido por Microsistec</a> </div>
            </div>
         </div>
      </section>
      <script src="../jquery/jquery.min.js"></script>
      <script type="text/javascript">
         window.onload = function() {
         	$.getJSON('../superpanel/templates/popup/video-01/index1348.html?title=campanha%20de%20Outubro&amp;video=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D75_UaA2sPYU&amp;callback=?', function(data){
         		$('body').append(data.content);
         		$('#close_popup').click(function(){
         			$('#popup').hide();
         		});
         		
         	});
         };
      </script>
   </body>
   <!-- Mirrored from www.imobileonline.com.br/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Oct 2018 20:04:39 GMT -->
</html>
<link href="../css/bootstrap-select.min.css" rel="stylesheet">
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-select.min.js"></script>
<script src="../js/scripts.js"></script>
<script async type="text/javascript"></script>
<script src="../cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script async type="text/javascript">
   document.addEventListener('DOMContentLoaded', function() {
       document.querySelector("#bg-search .container").style.visibility = "visible";
   });
   
   $('#Localidade').select2({
       width: '100%',
   });
   
</script>
<script src='../www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
   $('#FrmMaisInfoReleaseModal-BS020').submit( function(e){ e.preventDefault(); function validateEmail(email) { var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; return re.test(email); } if($(this).find('input[name="EmailContato"]').val() != '' && $(this).find('input[name="EmailContato"]').val() != undefined) { if (!validateEmail($(this).find('input[name="EmailContato"]').val())) { alert('Informe um email válido'); e.preventDefault(); return; } } if(!$(this).find(".g-recaptcha-response").val()){ alert('Preencha o captcha'); e.preventDefault(); return; } var form = '#' + $(this).prop('id'); var formdata = $(this).serialize(); $(this).children('input[type="submit"]').prop('disabled', 'disabled').val('ENVIANDO...'); $.ajax({ headers: {'X-CSRF-Token': $(this).children('input[name="_token"]').val()}, url: $(this).prop('action'), type: 'POST', data: formdata, success: function(data){ if (data.status == 'success') {  window.location.href = 'mais-informacao-obrigado-pelo-contato.html'; } }, complete: function() { } }); }); 
</script> 
<script src='../www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
   $('#FrmMaisInfoReleaseModal-LNR3').submit( function(e){ e.preventDefault(); function validateEmail(email) { var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; return re.test(email); } if($(this).find('input[name="EmailContato"]').val() != '' && $(this).find('input[name="EmailContato"]').val() != undefined) { if (!validateEmail($(this).find('input[name="EmailContato"]').val())) { alert('Informe um email válido'); e.preventDefault(); return; } } if(!$(this).find(".g-recaptcha-response").val()){ alert('Preencha o captcha'); e.preventDefault(); return; } var form = '#' + $(this).prop('id'); var formdata = $(this).serialize(); $(this).children('input[type="submit"]').prop('disabled', 'disabled').val('ENVIANDO...'); $.ajax({ headers: {'X-CSRF-Token': $(this).children('input[name="_token"]').val()}, url: $(this).prop('action'), type: 'POST', data: formdata, success: function(data){ if (data.status == 'success') {  window.location.href = 'mais-informacao-obrigado-pelo-contato.html'; } }, complete: function() { } }); }); 
</script> 
<script src='../www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
   $('#FrmMaisInfoReleaseModal-BS054').submit( function(e){ e.preventDefault(); function validateEmail(email) { var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; return re.test(email); } if($(this).find('input[name="EmailContato"]').val() != '' && $(this).find('input[name="EmailContato"]').val() != undefined) { if (!validateEmail($(this).find('input[name="EmailContato"]').val())) { alert('Informe um email válido'); e.preventDefault(); return; } } if(!$(this).find(".g-recaptcha-response").val()){ alert('Preencha o captcha'); e.preventDefault(); return; } var form = '#' + $(this).prop('id'); var formdata = $(this).serialize(); $(this).children('input[type="submit"]').prop('disabled', 'disabled').val('ENVIANDO...'); $.ajax({ headers: {'X-CSRF-Token': $(this).children('input[name="_token"]').val()}, url: $(this).prop('action'), type: 'POST', data: formdata, success: function(data){ if (data.status == 'success') {  window.location.href = 'mais-informacao-obrigado-pelo-contato.html'; } }, complete: function() { } }); }); 
</script> 
<script src='../www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
   $('#FrmMaisInfoReleaseModal-BS038').submit( function(e){ e.preventDefault(); function validateEmail(email) { var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; return re.test(email); } if($(this).find('input[name="EmailContato"]').val() != '' && $(this).find('input[name="EmailContato"]').val() != undefined) { if (!validateEmail($(this).find('input[name="EmailContato"]').val())) { alert('Informe um email válido'); e.preventDefault(); return; } } if(!$(this).find(".g-recaptcha-response").val()){ alert('Preencha o captcha'); e.preventDefault(); return; } var form = '#' + $(this).prop('id'); var formdata = $(this).serialize(); $(this).children('input[type="submit"]').prop('disabled', 'disabled').val('ENVIANDO...'); $.ajax({ headers: {'X-CSRF-Token': $(this).children('input[name="_token"]').val()}, url: $(this).prop('action'), type: 'POST', data: formdata, success: function(data){ if (data.status == 'success') {  window.location.href = 'mais-informacao-obrigado-pelo-contato.html'; } }, complete: function() { } }); }); 
</script> 
<script src='../www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
   $('#/*FrmMaisInfoModal*/').submit(function (e) {
   
       e.preventDefault();
   
       function validateEmail(email) {
           var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
           return re.test(email);
       }
   
       if ($(this).find('input[name="EmailContato"]').val() != '' && $(this).find('input[name="EmailContato"]').val() != undefined) {
           if (!validateEmail($(this).find('input[name="EmailContato"]').val())) {
               alert('Informe um email válido');
               e.preventDefault();
               return;
           }
       }
   
       if (!$(this).find(".g-recaptcha-response").val()) {
           alert('Preencha o captcha');
           e.preventDefault();
           return;
       }
   
       var form = '#' + $(this).prop('id');
       var formdata = $(this).serialize();
   
       $(this).children('input[type="submit"]').prop('disabled', 'disabled').val('ENVIANDO...');
   
       $.ajax({
           headers: {'X-CSRF-Token': $(this).children('input[name="_token"]').val()},
           url: $(this).prop('action'),
           type: 'POST',
           data: formdata,
           success: function (data) {
               if (data.status == 'success') {
                                                               window.location.href = 'mais-informacao-obrigado-pelo-contato.html';
               }
           },
           complete: function () {
   
           }
       });
   
   });
   
</script>
<script src='../www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
   $('#FrmMaisInfoModal').submit(function (e) {
   
       e.preventDefault();
   
       function validateEmail(email) {
           var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
           return re.test(email);
       }
   
       if ($(this).find('input[name="EmailContato"]').val() != '' && $(this).find('input[name="EmailContato"]').val() != undefined) {
           if (!validateEmail($(this).find('input[name="EmailContato"]').val())) {
               alert('Informe um email válido');
               e.preventDefault();
               return;
           }
       }
   
       if (!$(this).find(".g-recaptcha-response").val()) {
           alert('Preencha o captcha');
           e.preventDefault();
           return;
       }
   
       var form = '#' + $(this).prop('id');
       var formdata = $(this).serialize();
   
       $(this).children('input[type="submit"]').prop('disabled', 'disabled').val('ENVIANDO...');
   
       $.ajax({
           headers: {'X-CSRF-Token': $(this).children('input[name="_token"]').val()},
           url: $(this).prop('action'),
           type: 'POST',
           data: formdata,
           success: function (data) {
               if (data.status == 'success') {
                                                               window.location.href = 'mais-informacao-obrigado-pelo-contato.html';
               }
           },
           complete: function () {
   
           }
       });
   
   });
   
</script>
<script src='../www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
   $('#FrmMaisInfoModal').submit(function (e) {
   
       e.preventDefault();
   
       function validateEmail(email) {
           var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
           return re.test(email);
       }
   
       if ($(this).find('input[name="EmailContato"]').val() != '' && $(this).find('input[name="EmailContato"]').val() != undefined) {
           if (!validateEmail($(this).find('input[name="EmailContato"]').val())) {
               alert('Informe um email válido');
               e.preventDefault();
               return;
           }
       }
   
       if (!$(this).find(".g-recaptcha-response").val()) {
           alert('Preencha o captcha');
           e.preventDefault();
           return;
       }
   
       var form = '#' + $(this).prop('id');
       var formdata = $(this).serialize();
   
       $(this).children('input[type="submit"]').prop('disabled', 'disabled').val('ENVIANDO...');
   
       $.ajax({
           headers: {'X-CSRF-Token': $(this).children('input[name="_token"]').val()},
           url: $(this).prop('action'),
           type: 'POST',
           data: formdata,
           success: function (data) {
               if (data.status == 'success') {
                                                               window.location.href = 'mais-informacao-obrigado-pelo-contato.html';
               }
           },
           complete: function () {
   
           }
       });
   
   });
   
</script>
<script src='../www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
   $('#FrmMaisInfoModal').submit(function (e) {
   
       e.preventDefault();
   
       function validateEmail(email) {
           var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
           return re.test(email);
       }
   
       if ($(this).find('input[name="EmailContato"]').val() != '' && $(this).find('input[name="EmailContato"]').val() != undefined) {
           if (!validateEmail($(this).find('input[name="EmailContato"]').val())) {
               alert('Informe um email válido');
               e.preventDefault();
               return;
           }
       }
   
       if (!$(this).find(".g-recaptcha-response").val()) {
           alert('Preencha o captcha');
           e.preventDefault();
           return;
       }
   
       var form = '#' + $(this).prop('id');
       var formdata = $(this).serialize();
   
       $(this).children('input[type="submit"]').prop('disabled', 'disabled').val('ENVIANDO...');
   
       $.ajax({
           headers: {'X-CSRF-Token': $(this).children('input[name="_token"]').val()},
           url: $(this).prop('action'),
           type: 'POST',
           data: formdata,
           success: function (data) {
               if (data.status == 'success') {
                                                               window.location.href = 'mais-informacao-obrigado-pelo-contato.html';
               }
           },
           complete: function () {
   
           }
       });
   
   });
   
</script>
<script src='../www.google.com/recaptcha/api.js'></script>

<script type="text/javascript">
   function googleTranslateElement() {
       new google.translate.TranslateElement({
           pageLanguage: 'pt',
           includedLanguages: 'de,es,fr,en,it,ja',
           layout: google.translate.TranslateElement.InlineLayout.SIMPLE
       }, 'google_translate_element');
   }
   
   setTimeout(function(){
       var script = document.createElement('script');
       script.src = "../translate.google.com/translate_a/element48aa.html?cb=googleTranslateElement";
       document.body.appendChild(script);
   }, 5000);
</script>